img {
    width: 30em;
}

a {
    color: black;
}

a:hover {
    color: #00816c;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: left;
    padding: 0px;
}