img {
    width: 30em;
}

.contactform {
    width: inherit;
    height: max-content;
}

.wrapper {
    display: flex;
    flex-direction: left;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
}